@media (max-width:767px) {
    .slick-slider {
        width:auto;
    }
}

@media(max-width:576px) {
    .rightQuote {
        right:0;

    }
    .smb10 {
        margin-bottom: 10px;
    }
    .leftQuote {
        left:0;
    }
    ul.social-list {
        display:none;
    }
    .px-50 {
        padding:0;

    }
    .px-60 {
        padding:0;
    }
    .pl-50 {
        padding:0;
    }
}

@media(max-width:375px) {
    .read-more {
        margin-bottom: 50px;
    }
}